* {
  margin: 0;
  padding: 0;
}

body {
  background-image: url(../images/galorian-map.jpg);
  background-repeat: no-repeat;
  background-size: 100%;
  background-position: center;
  background-position: fixed;
  background-size: 100vh;
  background-size: 100vw;
}

/* Navbar */

.nav-list li {
  display: inline;
}

.navbar-body {
  margin: 0 auto;
  padding: 0;
  position: fixed;
  top: 0;
  background-color: #4E2E23ff;
  width: 99.5%;
  display: flex;
  align-items: center;
  border: dotted 6px;
  /* border-color: rgb(56, 3, 7); */
}

.nav-list {
  list-style: none;
}

.navbar-logo {
  color: #DDA874ff;
  font-size: 3rem;
  font-family: 'Julee', cursive;
  font-weight: 900;
  padding: 1.25rem;
}

.navbar-link {
  text-decoration: none;
  margin: 20px;
  color: rgb(175, 76, 71);
  font-size: 25px;
  font-family: 'Bebas Neue', cursive;
  cursor: pointer;
  transition: 0.5s;
}

.navbar-link:hover {
  color: rgb(209, 98, 92);
}

.active-page {
  text-decoration: overline;
}

/* Page Main Content */

.content{
  border: double 7px;
  border-radius: 10px;
  background-color: rgb(221, 169, 116);
  margin: 120px auto 10px;
  width: 90%;
  height: 800px;
  line-height: 1.2;
  /* position: relative;
  top: 200px; */
}

.content-text {
  font-size: 25px;
  padding: 20px;
  font-family: 'Josefin Sans', sans-serif;
}

.content-text ul {
  margin: 50px;
}

.content-text li {
  padding: 7px 0;
}

.content-bold {
  font-weight: 700;
}

.autograph {
  font-style: italic;
}

/* Iframe Code */

.iframe-box {
  width: 1500px;
  margin: 120px auto 0px;
}

iframe {
  height: 800px;
  width: 1500px;
  /* margin-top: 120px; */
  /* margin: 0 auto; */
}

/* #4E2E23ff
--buff: #DDA874ff;
--chocolate-cosmos: #53050Bff;
--caput-mortuum: #4E2E23ff;
--bole: #663D34ff;
--auburn: #9A3832ff; */
